 

.field {
    border: solid 1px #ccc;
    padding: 10px;
    margin-top: 10px;
    color: rgb(209, 202, 202);  /* color de letras de los interiores de el contedor */
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    resize: vertical;
}
.formulario{              /*colores de letras estaticas*/
    color: rgb(248, 242, 242);
}


label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=button] {      /* darle  color a los botones */
    background-color: #808c92;
    color: white;   /*letras de los botones */
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    float: right;
}

input[type=button]:hover {
    background-color: #e08216;  /*darle color  los recuadtos al momento de precionarlo */
}
/*                                      
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}*/

.formulario {
    width: 30%;     /*formulario de espaciado*/
    margin: auto;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}


/*columnas */

.row:after {
    content: "";
    display: table;
    clear: both;
}


 
@media screen and (max-width: 600px) {
    .col-25,
    .col-75,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

.btn-editar {
    background-color: #3a95c0;
    color: white;
    padding: 7px 10px;
    font-size: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-borrar {
    background-color: #b8463e;
    color: white;
    padding: 7px 12px;
    font-size: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

body 
{
    height: 550px;
  
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position-x: right;
  
    margin: 0;
    padding: 0;
    background: url(foto.png);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;

}

